certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
decorator==4.4.2
idna==3.4
imageio==2.32.0
imageio-ffmpeg==0.4.9
instagrapi==2.0.0
moviepy==1.0.3
numpy==1.26.2
Pillow==10.0.1
pip==23.3
proglog==0.1.10
pycryptodomex==3.18.0
pydantic==1.10.9
PySocks==1.7.1
requests==2.31.0
schedule==1.2.1
setuptools==65.5.1
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==2.1.0
